<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='generator' content='<%= Pluto.generator %>'>

  <title><%= site.title %></title>

  <%= stylesheet_link_tag 'css/font-awesome' %>
  <%= stylesheet_link_tag 'css/blank' %>
 
  <!-- fix: use script_tag  rails-style ??? -->
  <script src='js/jquery-2.0.3.min.js'></script>
  <script src='js/blank.js'></script>

</head>
<body>


<div id='navwrap'>
<div id='nav'>
    <p>
      Last Update
    </p>
    <p class='smaller'>
      <% if site.fetched %>
        <%= site.fetched.strftime('%A, %d. %B %Y %H:%M') %>
      <% end %>
    </p>

    <p>Subscriptions</p>
    <ul class='subscriptions smaller' >
     <% site.feeds.each do |feed| %>
      <li>
        <%= link_to( image_tag('i/feed-icon-10x10.png'), feed.feed_url ) %>
        <%= link_to feed.title, feed.url %>
      </li>
     <% end %>
     </ul>
</div>
</div>


 <table width='100%'>
  <tr>
   <td><!-- column 1 -->
      <h1><%= site.title %></h1>
   </td>
   <td><!-- column 2 -->
    <div class='views' style='display: inline-block; text-align: right;'>
  <img src='i/view-headlines.png' id='show-headlines' title='Show Headlines Only' width='24' height='24'>
  <img src='i/view-snippets.png' id='show-snippets'    title='Show Snippets' width='24' height='24'>
  <img src='i/view-standard.png' id='show-fulltext'    title='Show Full Text' width='24' height='24'>
     </div>
   </td>
  </tr>
  <tr>
   <td></td>
   <td>
     <div class='views' style='display: inline-block; text-align: right;'>
       Style | <a href='<%= site.key %>.cards.html'>Cards</a>
      </div>
   </td>
  </tr>
 </table>


<%
   items = site.items.latest.limit(24)
   ItemCursor.new( items ).each do |item, new_date, new_feed|
%>


<% if new_date %>
 <h2 class='new_date'>
  <%= item.published.strftime('%A, %d. %B %Y') %>
 </h2>
<% else %>
  <hr class='item_seperator'>
<% end %>

<!--
   fix:
    use article element/tag!!!
    -->

<div class='item'>

<% if new_feed %>
<h4 class='feed_title'>
  <%= link_to item.feed.title, item.feed.url %>
</h4>
<% end %>


<h3 class='item_title'>
 
 <i class='icon-caret-down item-collapse item-close item-opened'></i>
 <i class='icon-caret-right item-expand item-open item-closed'></i>
 <%= link_to item.title, item.url %>
</h2>

<div class='item_body'>

<div class='item_snippet'>
<!-- use 'smarter' algorithm for cutoff snippet text
   note: summary goes first; than try content -->
<% if item.summary %>
  <%= textify( item.summary )[0..400] %>
<% elsif item.content %>
  <%= textify( item.content )[0..400] %>
<% else %>
  -/-
<% end %>
</div>

<div class='item_content item_summary'>

<!-- todo: use sanitize or simplify or whitelist
   - todo/fix: check why summary can be nil/null
   note: content goes first; than try summary
 -->
<% if item.content %>
  <%= textify( item.content ) %>
<% elsif item.summary %>
  <%= textify( item.summary ) %>
<% else %>
  -/-
<% end %>
  
</div>

<div class='item_footer'>
   <%= item.published.strftime('%H:%M') %> &bull;
   <%= time_ago_in_words( item.published ) %>
</div>

</div><!-- item-body -->
</div><!-- item -->




<% end %><!-- each item -->


</body>
</html>
