<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta name='generator' content='<%= Pluto.banner %>'>

  <title><%= site.title %></title>

  <link rel='stylesheet' type='text/css' href='blank.css'>

</head>
<body>
<h1><%= site.title %></h1>

<table>
<tr>
  <td style='vertical-align:top;'><!-- first column -->

<%

 ## todo: move to pluto
 
class ItemList
    
  def initialize( items )
    @items = items
  end
    
  def each
    last_published_at = Time.local( 1911, 1, 1 )
    
    @items.each do |item|
    
      if last_published_at.year   == item.published_at.year  &&
         last_published_at.month  == item.published_at.month &&
         last_published_at.day    == item.published_at.day 
        new_date = false
      else
        new_date = true
      end

      ## todo/fix: add new_feed flag too

      yield( item, new_date )
      
      last_published_at = item.published_at

    end
  end # method each
    
end # class ItemList

   items = ItemList.new( Item.latest.limit(24) )
   items.each do |item, new_date|
%>

   
 <% if new_date %>
 <h3>
  <%= item.published_at.strftime('%A, %d. %B %Y') %>
 </h3>
 <% end %><!-- if new_date -->


<div class='item'>

<h4 class='feed_title'>
  <a href='<%= item.feed.url %>'><%= item.feed.title %></a>
</h4>

<h2 class='item_title'>
 <a href='<%= item.url %>'><%= item.title %></a>
</h2>

<div class='item_content'>
<!-- todo: use sanitize or simplify or whitelist
   -- todo/fix: check why summary can be nil/null
 -->
<%= item.summary ? textify( item.summary ) : '-/-' %>
</div>
</div> 
<!--
<p>
   <%= item.published_at.strftime('%H:%M') %>
</p>
-->

<% end %><!-- each item -->

  </td>
  <td style='vertical-align:top;'><!-- second column -->

    <div class='colright'>
    <p>
      Last Updated
    </p>
    <p class='smaller'><%= Time.now.strftime('%A, %d. %B %Y %H:%M') %>
    </p>

    <p>Subscriptions</p>
    <ul class='subscriptions smaller' >
     <% Feed.all.each do |feed| %>
      <li>
        <a href='<%= feed.feed_url %>'><img src='feed-icon-10x10.png'></a>         
        <a href='<%= feed.url %>'><%= feed.title %></a></li>
     <% end %>
     </ul>
    </div>

  </td>
</tr>
</table>
</body>
</html>
