<html>
  <head>
   <meta charset='UTF-8'>
   <meta name='generator' content='<%= Pluto.generator %>'>
   <title><%= site.title %></title>

   <link rel='stylesheet' type='text/css' href='blank.two.css'>

  </head>
  <body>
    
<h1>
  <%= site.title %>
  Update: <%= site.fetched_at %>
</h1>

<!-- use a table w/ two colums -->

<table>
  <colgroup>
    <col width='50%'>
    <col width='50%'>
  </colgroup>
<tr>

<%  Item.latest.limit(24).in_columns(2).each do |items| %>

<td valign='top'>
  <!-- start new column -->

  <% items.each do |item| %>


<div class='item'>
<h3>
  <%= link_to item.feed.title, item.feed.url %>
      <span class='item-published'> - 
          <!-- fix/todo: show year if not current year
             e.g. use "%b %d, '%y"
          -->
        <%= item.published_at.strftime("%b %d") %>
      </span>
</h3>

<table>
   <tr>
     <td valign='top'>
       <span class='item-title'>
          <%= link_to item.title, item.url %>
       </span>
       
       <%= item.summary ? textify( item.summary ) : '-/-' %>
       
       <span class='item-time-ago-in-words'><%= time_ago_in_words( item.published_at ) %></span>
     </td>
    </tr>
</table>
</div>


  <% end %><!-- each item (inside column) -->
 </td>

<% end %><!-- each column-->
  </tr>
</table>

</body>
</html>
