<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='generator' content='<%= Pluto.generator %>'>

  <title><%= site.title %></title>

  <%= stylesheet_link_tag 'blank' %>
</head>
<body>
<h1><%= site.title %></h1>

<table>
<tr>
  <td style='vertical-align:top;'><!-- first column -->

<%
   items = site.items.latest.limit(24)
   ItemCursor.new( items ).each do |item, new_date, new_feed|
%>


 <% if new_date %>
 <h3>
  <%= item.published_at.strftime('%A, %d. %B %Y') %>
 </h3>
 <% end %><!-- if new_date -->


<div class='item'>

<h4 class='feed_title'>
  <%= link_to item.feed.title, item.feed.url %>
</h4>

<h2 class='item_title'>
  <%= link_to item.title, item.url %>
</h2>

<div class='item_content'>
<!-- todo: use sanitize or simplify or whitelist
   - todo/fix: check why summary can be nil/null
 -->
<% if item.summary? %>
  <%= textify( item.summary ) %>
<% elsif item.content? %>
  <%= textify( item.content ) %>
<% else %>
  -/-
<% end %>
</div>
</div>
<!--
<p>
   <%= item.published_at.strftime('%H:%M') %>
</p>
-->

<% end %><!-- each item -->

  </td>
  <td style='vertical-align:top;'><!-- second column -->

    <div class='colright'>
    <p>
      Updated
    </p>
    <p class='smaller'>
      <%= site.fetched_at.strftime('%A, %d. %B %Y %H:%M') if site.fetched_at %>
    </p>

    <p>Subscriptions</p>
    <ul class='subscriptions smaller' >
     <% site.feeds.each do |feed| %>
      <li>
        <%= link_to( image_tag('feed-icon-10x10.png'), feed.feed_url ) %>
        <%= link_to feed.title, feed.url %>
       </li>
     <% end %>
     </ul>
    </div>

  </td>
</tr>
</table>
</body>
</html>
