<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='generator' content='<%= Pluto.generator %>'>

  <title><%= site.title %></title>

  <%= stylesheet_link_tag 'blank' %>
  
  <!-- fix: use script_tag  rails-style ??? -->
  <script src='jquery-2.0.3.min.js'></script>
  <script src='blank.js'></script>

</head>
<body>


<div id='navwrap'>
<div id='nav'>
    <p>
      Last Update
    </p>
    <p class='smaller'>
      <% if site.fetched %>
        <%= site.fetched.strftime('%A, %d. %B %Y %H:%M') %>
      <% end %>
    </p>

    <p>Subscriptions</p>
    <ul class='subscriptions smaller' >
     <% site.feeds.each do |feed| %>
      <li>
        <%= link_to( image_tag('feed-icon-10x10.png'), feed.feed_url ) %>
        <%= link_to feed.title, feed.url %>
      </li>
     <% end %>
     </ul>
</div>
</div>


<h1>
  <%= site.title %>
</h1>


<div style='text-align: right;'>
  <img src='view-headlines.png' id='show-headlines' title='Show Headlines Only' width='24' height='24'>
  <img src='view-standard.png' id='show-all'        title='Show Full Text' width='24' height='24'>

  <!-- todo/fix: make sure name gets set for use in erb here; use name instead of site.key?? -->
    Style | <a href='<%= site.key %>.cards.html'>Cards</a>  
</div>


<%
   items = site.items.latest.limit(24)
   ItemCursor.new( items ).each do |item, new_date, new_feed|
%>


<% if new_date %>
 <h2 class='new_date'>
  <%= item.published.strftime('%A, %d. %B %Y') %>
 </h2>
<% else %>
  <hr class='item_seperator'>
<% end %>

<div class='item'>

<% if new_feed %>
<h4 class='feed_title'>
  <%= link_to item.feed.title, item.feed.url %>
</h4>
<% end %>


<h3 class='item_title'>
  <%= link_to item.title, item.url %>
</h2>

<div class='item_body'>
<div class='item_content item_summary'>

<!-- todo: use sanitize or simplify or whitelist
   - todo/fix: check why summary can be nil/null
 -->
<% if item.summary %>
  <%= textify( item.summary ) %>
<% elsif item.content %>
  <%= textify( item.content ) %>
<% else %>
  -/-
<% end %>
  
</div>

<div class='item_footer'>
   <%= item.published.strftime('%H:%M') %> / 
   <%= time_ago_in_words( item.published ) %>
</div>

</div><!-- item-body -->
</div><!-- item -->




<% end %><!-- each item -->


</body>
</html>
